// COLORS
$primary-color: #c90f6c;
$secondary-color: #e0dd0e;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(23, 225, 252);

$dark-grey: #f6fa06;

$dark-blue-text: #f707c3; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
